@import 'mixins';
@import 'variables';
@import 'typography';
@import 'button';
@import 'reset';
@import 'media-queries';
@import 'dcmf';
@import 'font-awesome/font-awesome';
html,
body,
#root{
  width: 100%;
  height: 100%;
}
h1,
h6{
  text-align: center;
}

*{
  box-sizing: border-box;
}

body {
  background-color: $elegant-dark;
  color: $white;
}
h1{
  text-align: center;
  padding-top: 3rem;
}


.App{
  background-color: $elegant-dark;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

table{
  border-collapse: collapse;
}

.table-container{
  display: flex;
  justify-content: center;
}

.table{
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  justify-content: center;
  padding: 5px;
  border: 10px double $info-dark;
  border-radius: 10px;

}

td{
  border: 1px solid $unique-dark;

}

.dead{background-color: $unique-dark;}
.alive{background-color: $danger;}

h4{
  text-align: left;
  vertical-align: middle;
}

.control-box{
  display: flex;
  justify-content: space-around;
  background-color: $special-dark;
  padding-bottom: 1rem;
  .control-section{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    .control-buttons{
      display: flex;
      flex-direction: row;
      justify-content:flex-end;
      align-content: space-between;
      .generation{
        background-color: $warning;
        color: $special-dark;
        border: none;
        white-space: nowrap;
        vertical-align: middle;
        width: 100%;
      }
    }
  }
}
header{
  a,
  a:visited,
  a:active,
  a:hover{
    cursor: pointer;
    color: $elegant-dark;
    background-color: $warning;
    padding: 0 1rem;
  }
}
